

<div class="container">
   <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
        <div class="banner-content">
          <h2>Compare.Trade</h2>
           <p> <strong>Save Time, Save Money, Trade More</strong></p>
           <form action="/tools" method="get">
           <input type="text" name="tool_type" placeholder="What kind of tool?">
           <input type="submit">
           </form>
        </div>
    </div>




    <p>Welcome -User- It's now <%= Time.now %><p>
    <% categories = [ 'Drills', 'Saws', 'Sanders', 'Angle Grinders', 'Nail Guns','Routes', 'Impact Drivers & Wrenches', 'Radios' ] %>
    <h2>Find your perfect product</h2>
    <ol>
    <% categories.each do |category| %>
      <li><%= category.capitalize %></li>
    <% end %>
    </ol>

</div>
